<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/bgheader :: bgheader}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="hjx-left hjx-margin-left">
            <label class="col-form-label">分类：</label>
            <select id="ctgSelected" class="selectpicker show-tick" title="请选择一项" data-live-search="true" data-size="5">
                <option value="">所有分类</option>
                <th:block th:each="ctg : ${blogModel.categoryList}">
                    <option th:text="${ctg.name}" th:value="${ctg.name}"></option>
                </th:block>
            </select>
        </div>
        <div class="input-group hjx-search hjx-left">
            <input type="text" class="form-control" id="searchTitle" placeholder="输入文章标题进行搜索">
            <span class="input-group-btn">
                    <button class="btn btn-warning" id="searchNameBtn" type="button">Search!</button>
            </span>
        </div><!--/* /input-group */-->
        <div class="hjx-left hjx-margin-left">
            <a role="button" class="btn btn-primary" type="button" th:href="@{/admin/blogs/add}">写博客</a>
        </div>
    </div>
</div>

<div id="mainContainer" class="container-fluid">
    <div id="mainContainerRepleace" class="row">
        <div class="col-lg-12">
            <h2 class="sub-header">All Blogs</h2>
            <th:block th:each="blog : ${blogModel.blogList}">
            <!--/*文章主题*/-->
            <div class="hjx-index-content hjx-border">
                <div class="hjx-title-small">
                    <a th:href="'/blog/' + ${blog.id}" th:title="${blog.title}" th:text="${blog.title}" target="_blank">文章标题</a>
                    <div class="hjx-right">
                        <a role="button" th:href="'/blog/' + ${blog.id}" target="_blank">
                            <svg class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                                <use xlink:href="#icon-chakan"></use>
                            </svg>
                        </a>
                        <a class="hjx-edit-blog" role="button" th:href="'/admin/blogs/edit/' + ${blog.id}">
                            <svg class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                                <use xlink:href="#icon-bianji"></use>
                            </svg>
                        </a>
                        <a class="hjx-online-blog" th:if="${blog.state eq 0}"  role="button" th:attr="blogId=${blog.id}">
                            <svg class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                                <use xlink:href="#icon-shangxian"></use>
                            </svg>
                        </a>
                        <a class="hjx-offline-blog" th:if="${blog.state eq 1}" role="button" th:attr="blogId=${blog.id}">
                            <svg class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                                <use xlink:href="#icon-xiaxian"></use>
                            </svg>
                        </a>
                        <a class="hjx-delete-blog" role="button" th:attr="blogId=${blog.id}">
                            <svg class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                                <use xlink:href="#icon-shanchu"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="hjx-info">
                    <div>
                        <svg class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                            <use xlink:href="#icon-flagpx"></use>
                        </svg>
                        <span th:text="${blog.flag.name}"></span>
                        <svg class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                            <use xlink:href="#icon-fenlei1"></use>
                        </svg>
                        <span th:text="${blog.category.name}"></span>
                        <svg class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                            <use xlink:href="#icon-fenlei"></use>
                        </svg>
                        <span th:text="'创建时间：'+${#dates.format(blog.createTime,'YYYY-MM-dd HH:mm')}"></span>
                        <svg th:if="${blog.updateTime} != null" class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                            <use xlink:href="#icon-time"></use>
                        </svg>
                        <span th:if="${blog.updateTime} != null" th:text="'更新时间：'+${#dates.format(blog.updateTime,'YYYY-MM-dd HH:mm')}"></span>
                        <svg class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                            <use xlink:href="#icon-chakan"></use>
                        </svg>
                        <span th:text="'阅读量：'+${blog.readSize}"></span>
                        <svg class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                            <use xlink:href="#icon-dianzan1"></use>
                        </svg>
                        <span th:text="'点赞量：'+${blog.voteSize}"></span>
                        <svg class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                            <use xlink:href="#icon-huifu"></use>
                        </svg>
                        <span th:text="'评论量：'+${blog.commentSize}"></span>
                    </div>

                </div>
                <div class="hjx-brief-small">
                    <span th:text="${blog.summary}"></span>
                </div>
                <div class="hjx-tag-small">
                    <th:block th:each="tag : ${blog.tags}">
                        <svg class="icon hjx-icon-mini hjx-margin-top-mini" aria-hidden="true">
                            <use xlink:href="#icon-tag"></use>
                        </svg>
                        <a th:href="'/?keyword='+ ${tag.name}" th:text="${tag.name}"></a>
                    </th:block>
                </div>

            </div>
            </th:block>
            <div th:replace="~{fragments/page :: page}">...</div>
        </div>
    </div>
</div>
<!--/*footer*/-->
<div th:replace="~{fragments/bgfooter :: bgfooter}">...</div>
<script src="../../../static/js/admin/blogList.js" th:src="@{/js/admin/blogList.js}"></script>
</body>
</html>