<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Jonty Hua | 华瑾熙</title>
    <!--/* Bootstrap CSS */-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/css/blog.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="hjx-blog-container">
                <div class="hjx-blog-title text-center">
                    <h3>Spring Boot快速入门</h3>
                </div>
                <div class="hjx-blog-info text-center">
                    <span>原创</span>
                    <span>2019-04-11</span>
                    <span>Jonty Hua</span>
                    <span>Springboot</span>
                </div>
                <div class="hjx-blog-content">
                    简介
                    在您第1次接触和学习Spring框架的时候，是否因为其繁杂的配置而退却了？在你第n次使用Spring框架的时候，是否觉得一堆反复黏贴的配置有一些厌烦？那么您就不妨来试试使用Spring Boot来让你更易上手，更简单快捷地构建Spring应用！

                    Spring Boot让我们的Spring应用变的更轻量化。比如：你可以仅仅依靠一个Java类来运行一个Spring引用。你也可以打包你的应用为jar并通过使用java -jar来运行你的Spring Web应用。

                    Spring Boot的主要优点：

                    为所有Spring开发者更快的入门
                    开箱即用，提供各种默认配置来简化项目配置
                    内嵌式容器简化Web项目
                    没有冗余代码生成和XML配置的要求
                </div>
                <div class="hjx-blog-copyright">
                    本文作者：Jonty Hua
                    <br>
                    原文链接：https://www.jontyhua.com/71
                    <br>
                    版权申明：本博客所有文章除特别声明外，均采用 CC BY 3.0 CN协议进行许可。转载请署名作者且注明文章出处。
                </div>
                <div class="hjx-blog-context">
                    <div style="float:left">上一篇</div>
                    <div style="float:right">下一篇</div>
                </div>
                <div class="hjx-blog-like">

                </div>
                <div class="hjx-blog-comment">

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="hjx-blog-catalog">
                <div class="panel panel-info">
                    <div class="panel-body">
                        文章目录
                    </div>
                    <div class="panel-footer">
                        1、标题
                    </div>
                </div>
            </div>
            <div class="hjx-blog-set">

            </div>
        </div>
    </div>
</div>
</body>
</html>