<form th:action="@{/blogs}" method="post" th:object="${blogModel.blog}" id="blogForm">
    <input type="hidden" name="id" th:value="*{id}">
    <div class="input-group">
        <input type="text" name="title" class="form-control" th:value="*{title}">
        <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"
                            data-toggle="modal"
                            data-target="#updateModel">
                        发表文章
                    </button>
                </span>
    </div><!--/* /input-group */-->
    <div id="test-editormd">
        <textarea style="display:none;" name="content" th:text="*{content}"></textarea>
    </div>

    <!--/* Modal */-->
    <div class="modal fade" id="updateModel" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">发表文章</h4>
                </div>
                <div class="modal-body" id="">
                    <!--/*用户信息内容区域*/-->
                    <div class="form-group">
                        <label class="col-form-label">分类：</label>
                        <select class="selectpicker show-tick" title="请选择一项" data-live-search="true" data-size="5">
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                            <option>D</option>
                            <option>E</option>
                            <option>B</option>
                            <option>C</option>
                        </select>
                        <label class="col-form-label">标签：</label>
                        <select class="selectpicker" title="请选择一项" data-live-search="true" data-size="5" multiple>
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                            <option>D</option>
                            <option>E</option>
                            <option>B</option>
                            <option>C</option>
                        </select>
                    </div>
                    <label for="summary" class="col-form-label" >摘要：</label>
                    <textarea id="summary" class="form-control" rows="5" style="width: 100%" th:text="*{summary}"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submitEdit">确认发表</button>
                    <button type="button" class="btn btn-default" id="b">保存草稿</button>
                </div>
            </div>
        </div>
    </div>
    <!--/*modal end*/-->
</form>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "../../editormd/lib/",
            emoji: true,
            saveHTMLToTextarea: true
        });

        $('.selectpicker').selectpicker();

        // 提交变更后，清空表单
        $("#submitEdit").click(function() {
            console.log("点击了提交保存按钮")
            $.ajax({
                url: "/blogs/update",
                type: 'POST',
                data:$('#blogForm').serialize(),
                success: function(data){
                    if (data.success) {
                        console.log("提交成功")
                        $('#updateModel').modal('hide');
                        // getBlogsByTitle(0, _pageSize);
                    } else {
                        $('#blogForm')[0].reset();
                        toastr.error(data.message);
                    }
                },
                error : function() {
                    toastr.error("error!");
                    $('#blogForm')[0].reset();
                }
            });
        });
    });
</script>