<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="博客,个人,学习,IT,生活,华瑾熙,Jonty Hua,程序,springboot,java,后端,全栈">
    <meta name="description" content="Jonty Hua,1998,编程.专注于Spring,SpringBoot等后端技术探索,以及MySql数据库开发,SSH等后端流行框架学习">

    <title>Jonty Hua | 华瑾熙</title>
    <!--/* Bootstrap CSS */-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!--/*index.css*/-->
    <link href="../../static/css/index.css" rel="stylesheet">

    <link href="../../static/css/common.css" rel="stylesheet">

    <link href="../../static/css/bootstrap-datepicker.css" rel="stylesheet">

    <link href="../../static/css/validation.css" rel="stylesheet">

    <link href="../../static/css/register.css" rel="stylesheet">

    <link href="../../static/css/toastr.css" rel="stylesheet">
    <!--/*分类页面*/-->
    <link href="../../static/css/categories.css" rel="stylesheet">
    <!--阿里云图标-->
    <link href="../../static/iconfont/iconfont.css" rel="stylesheet">
    <!--引入页脚css-->
    <link href="../../static/css/footer.css" rel="stylesheet">
</head>
<body>
<div class="container" style="width: 60%;">
    <!--分类总览-->
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>分类<span style="float: right">共<strong style="color: #eae18f;"> 15 </strong>个</span></h4>
            </div>
            <div class="panel-body">
                <div class="row hjx-panel-border">
                    <div class="col-lg-12">
                        <button class="btn btn-default" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-primary" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-default" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-default" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-default" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-primary" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-default" type="button">
                            j <span class="badge">4</span>
                        </button>
                        <button class="btn btn-default" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-default" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-primary" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-default" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-default" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-default" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-primary" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-default" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                        <button class="btn btn-default" type="button">
                            Messages <span class="badge">4</span>
                        </button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <!--/*文章主题*/-->
                        <div class="hjx-index-content hjx-border">
                            <div class="hjx-title">
                                <a href="#">2019春招-字节跳动面试</a>
                            </div>
                            <div class="hjx-info">
                                <span><i class="iconfont icon-wechat hjx-i"></i>原创</span>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">2019-03-29</a>
                                <i class="iconfont icon-wechat hjx-i"></i><span>jontyhua</span>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">面试</a>
                            </div>
                            <div class="hjx-brief">
                            <span>
                                这是一篇来自字节跳动的凉经，面试过程很不顺畅。视频面试：40分钟https的加密过程？为什么要用客户端这边的会话密钥进行加密，直接用服务器端的公私钥不行吗？说一说https的CA证书原理？进程间调度方式有哪些？进程间通信方式有哪些？说说进程和线程的区别吧，如果没有进程只有线程会怎么样？那如果没有线程只有进程喃？出了下面那道算法题？
                            </span>
                                <br>
                                <a href="#">阅读原文 >></a>
                            </div>
                            <div class="hjx-tag">
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">java</a>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">面经</a>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">春招</a>
                            </div>
                        </div>
                        <!--/*文章主题*/-->
                        <div class="hjx-index-content hjx-border">
                            <div class="hjx-title">
                                <a href="#">2019春招-字节跳动面试</a>
                            </div>
                            <div class="hjx-info">
                                <span><i class="iconfont icon-wechat hjx-i"></i>原创</span>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">2019-03-29</a>
                                <i class="iconfont icon-wechat hjx-i"></i><span>jontyhua</span>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">面试</a>
                            </div>
                            <div class="hjx-brief">
                            <span>
                                这是一篇来自字节跳动的凉经，面试过程很不顺畅。视频面试：40分钟https的加密过程？为什么要用客户端这边的会话密钥进行加密，直接用服务器端的公私钥不行吗？说一说https的CA证书原理？进程间调度方式有哪些？进程间通信方式有哪些？说说进程和线程的区别吧，如果没有进程只有线程会怎么样？那如果没有线程只有进程喃？出了下面那道算法题？
                            </span>
                                <br>
                                <a href="#">阅读原文 >></a>
                            </div>
                            <div class="hjx-tag">
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">java</a>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">面经</a>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">春招</a>
                            </div>
                        </div>
                        <!--/*文章主题*/-->
                        <div class="hjx-index-content hjx-border">
                            <div class="hjx-title">
                                <a href="#">2019春招-字节跳动面试</a>
                            </div>
                            <div class="hjx-info">
                                <span><i class="iconfont icon-wechat hjx-i"></i>原创</span>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">2019-03-29</a>
                                <i class="iconfont icon-wechat hjx-i"></i><span>jontyhua</span>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">面试</a>
                            </div>
                            <div class="hjx-brief">
                            <span>
                                这是一篇来自字节跳动的凉经，面试过程很不顺畅。视频面试：40分钟https的加密过程？为什么要用客户端这边的会话密钥进行加密，直接用服务器端的公私钥不行吗？说一说https的CA证书原理？进程间调度方式有哪些？进程间通信方式有哪些？说说进程和线程的区别吧，如果没有进程只有线程会怎么样？那如果没有线程只有进程喃？出了下面那道算法题？
                            </span>
                                <br>
                                <a href="#">阅读原文 >></a>
                            </div>
                            <div class="hjx-tag">
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">java</a>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">面经</a>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">春招</a>
                            </div>
                        </div>
                        <!--/*文章主题*/-->
                        <div class="hjx-index-content hjx-border">
                            <div class="hjx-title">
                                <a href="#">2019春招-字节跳动面试</a>
                            </div>
                            <div class="hjx-info">
                                <span><i class="iconfont icon-wechat hjx-i"></i>原创</span>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">2019-03-29</a>
                                <i class="iconfont icon-wechat hjx-i"></i><span>jontyhua</span>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">面试</a>
                            </div>
                            <div class="hjx-brief">
                            <span>
                                这是一篇来自字节跳动的凉经，面试过程很不顺畅。视频面试：40分钟https的加密过程？为什么要用客户端这边的会话密钥进行加密，直接用服务器端的公私钥不行吗？说一说https的CA证书原理？进程间调度方式有哪些？进程间通信方式有哪些？说说进程和线程的区别吧，如果没有进程只有线程会怎么样？那如果没有线程只有进程喃？出了下面那道算法题？
                            </span>
                                <br>
                                <a href="#">阅读原文 >></a>
                            </div>
                            <div class="hjx-tag">
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">java</a>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">面经</a>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">春招</a>
                            </div>
                        </div>
                        <!--/*文章主题*/-->
                        <div class="hjx-index-content hjx-border">
                            <div class="hjx-title">
                                <a href="#">2019春招-字节跳动面试</a>
                            </div>
                            <div class="hjx-info">
                                <span><i class="iconfont icon-wechat hjx-i"></i>原创</span>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">2019-03-29</a>
                                <i class="iconfont icon-wechat hjx-i"></i><span>jontyhua</span>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">面试</a>
                            </div>
                            <div class="hjx-brief">
                            <span>
                                这是一篇来自字节跳动的凉经，面试过程很不顺畅。视频面试：40分钟https的加密过程？为什么要用客户端这边的会话密钥进行加密，直接用服务器端的公私钥不行吗？说一说https的CA证书原理？进程间调度方式有哪些？进程间通信方式有哪些？说说进程和线程的区别吧，如果没有进程只有线程会怎么样？那如果没有线程只有进程喃？出了下面那道算法题？
                            </span>
                                <br>
                                <a href="#">阅读原文 >></a>
                            </div>
                            <div class="hjx-tag">
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">java</a>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">面经</a>
                                <i class="iconfont icon-wechat hjx-i"></i><a href="#">春招</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--分类文章-->
    <div class="row">

    </div>
</div>















<script src="../../static/js/jquery.js"></script>
<!--/* 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 */-->
<script src="../../static/js/bootstrap.js"></script>
<!--/*消息提示插件*/-->
<script src="../../static/js/toastr.js"></script>
<!--/*表单验证插件*/-->
<script src="../../static/js/jquery.validate.js"></script>
<script src="../../static/js/additional-methods.js"></script>
<script src="../../static/js/bootstrap-datepicker.js"></script>
<script src="../../static/js/register.js"></script>
<script src="../../static/js/cropbox.js"></script>
<!--阿里云图标-->
<script src="../../static/iconfont/iconfont.js"></script>
<!--首页js-->
<script src="../../static/js/index.js"></script>
</body>
</html>