<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="博客,个人,学习,IT,生活,华瑾熙,Jonty Hua,程序,springboot,java,后端,全栈">
    <meta name="description" content="Jonty Hua,1998,编程.专注于Spring,SpringBoot等后端技术探索,以及MySql数据库开发,SSH等后端流行框架学习">

    <title>Jonty Hua | 华瑾熙</title>
    <!--/* Bootstrap CSS */-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!--/*index.css*/-->
    <link href="../../static/css/index.css" rel="stylesheet">

    <link href="../../static/css/common.css" rel="stylesheet">

    <link href="../../static/css/bootstrap-datepicker.css" rel="stylesheet">

    <link href="../../static/css/validation.css" rel="stylesheet">

    <link href="../../static/css/register.css" rel="stylesheet">

    <link href="../../static/css/toastr.css" rel="stylesheet">
    <!--/*分类页面*/-->
    <link href="../../static/css/categories.css" rel="stylesheet">
    <!--阿里云图标-->
    <link href="../../static/iconfont/iconfont.css" rel="stylesheet">
    <!--引入页脚css-->
    <link href="../../static/css/footer.css" rel="stylesheet">
</head>
<body>
<div id="hjx-editormd">
    <textarea style="display:none;" name="content" id="content"></textarea>
</div>







<script src="../../static/js/jquery.js"></script>
<!--/* 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 */-->
<script src="../../static/js/bootstrap.js"></script>
<!--/*消息提示插件*/-->
<script src="../../static/js/toastr.js"></script>
<!--/*表单验证插件*/-->
<script src="../../static/js/jquery.validate.js"></script>
<script src="../../static/js/additional-methods.js"></script>
<script src="../../static/js/bootstrap-datepicker.js"></script>
<script src="../../static/js/register.js"></script>
<script src="../../static/js/cropbox.js"></script>
<!--阿里云图标-->
<script src="../../static/iconfont/iconfont.js"></script>
<script src="../../static/js/common.js"></script>

<script type="text/javascript">
    var hjxEditor;
    $(function () {
        hjxEditor = editormd("hjx-editormd", {
            width: "100%",
            height: 700,
            syncScrolling: "single",
            path: "../../static/editormd/lib/",
            emoji: true,
            saveHTMLToTextarea: true
        });

    });
</script>


</body>
</html>