<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="博客,个人,学习,IT,生活,华瑾熙,Jonty Hua,程序,springboot,java,后端,全栈">
    <meta name="description" content="Jonty Hua,1998,编程.专注于Spring,SpringBoot等后端技术探索,以及MySql数据库开发,SSH等后端流行框架学习">

    <title>Jonty Hua | 华瑾熙</title>
    <!--/* Bootstrap CSS */-->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!--/*index.css*/-->
    <link href="../../static/css/index.css" rel="stylesheet">

    <link href="../../static/css/common.css" rel="stylesheet">

    <link href="../../static/css/bootstrap-datepicker.css" rel="stylesheet">

    <link href="../../static/css/validation.css" rel="stylesheet">

    <link href="../../static/css/register.css" rel="stylesheet">

    <link href="../../static/css/toastr.css" rel="stylesheet">
    <!--/*分类页面*/-->
    <link href="../../static/css/categories.css" rel="stylesheet">
    <!--阿里云图标-->
    <link href="../../static/iconfont/iconfont.css" rel="stylesheet">
    <!--引入页脚css-->
    <link href="../../static/css/footer.css" rel="stylesheet">
    <style>
        .middle {

            float: none;

            display: inline-block;

            vertical-align: middle;

        }
    </style>
</head>
<body>

<!--/分页-->
<div class="container">
    <div class="row myCenter">
        <div class="col-xs-6 col-md-12 col-center-block">
            <ul class="pagination col-md-5 col-center-block">
                <li><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"   style="border-radius: 5px 5px 5px 5px">»</a></li>
                <li>
                    <span>共15条</span>
                </li>
                <li>
                <label style="margin-left: 20px;">
                    <!--<label class="hjx-margin-left">共11条</label>-->
                    <select class="form-control">
                        <option selected="selected" value="5">5条/页</option>
                        <option value="10">10条/页</option>
                        <option value="20">20条/页</option>
                        <option value="30">30条/页</option>
                    </select>
                </label>
            </li>
            </ul>
        </div>
    </div>
</div>
<!--分页/-->


<script src="../../static/js/jquery.js"></script>
<!--/* 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 */-->
<script src="../../static/js/bootstrap.js"></script>
<!--/*消息提示插件*/-->
<script src="../../static/js/toastr.js"></script>
<!--/*表单验证插件*/-->
<script src="../../static/js/jquery.validate.js"></script>
<script src="../../static/js/additional-methods.js"></script>
<script src="../../static/js/bootstrap-datepicker.js"></script>
<script src="../../static/js/register.js"></script>
<script src="../../static/js/cropbox.js"></script>
<!--阿里云图标-->
<script src="../../static/iconfont/iconfont.js"></script>
<!--首页js-->
<script src="../../static/js/index.js"></script>
</body>
</html>