<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--/*footer*/-->
<footer th:fragment="bgfooter">
    <!--/* jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) */-->
    <script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}" type="text/javascript"></script>
    <!--/* 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 */-->
    <script src="../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
    <script src="../../static/js/bootstrap-select.js" th:src="@{/js/bootstrap-select.js}" type="text/javascript"></script>
    <!--阿里云图标-->
    <script src="../../static/iconfont/iconfont.js" th:src="@{/iconfont/iconfont.js}" type="text/javascript"></script>

    <!--/*markdown editor.md js*/-->
    <script src="../../static/editormd/editormd.js" th:src="@{/editormd/editormd.js}" type="text/javascript"></script>
    <script src="../../static/js/toastr.js" th:src="@{/js/toastr.js}" type="text/javascript"></script>
    <script src="../../static/js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}" type="text/javascript"></script>
    <script src="../../static/js/bootstrap-tagsinput.js" th:src="@{/js/bootstrap-tagsinput.js}" type="text/javascript"></script>
    <script src="../../static/js/jquery.validate.js" th:src="@{/js/jquery.validate.js}" type="text/javascript"></script>
    <!--状态切换-->
    <script src="../../static/js/bootstrap-switch.js" th:src="@{/js/bootstrap-switch.js}" type="text/javascript"></script>
    <script src="../../static/js/bootstrap-datepicker.js" th:src="@{/js/bootstrap-datepicker.js}" type="text/javascript"></script>









</footer>
</body>
</html>