/*自定义媒体查询*/
/*超大PC屏幕下的专用样式*/
@media screen and (min-width:1200px) {
    /*首页 公告部分，缩短高度*/
    .hjx-index-notice{
        height: 25px;
        line-height: 25px;
        /*上右下左*/
        padding: 0px 0px 0px 7px;
        overflow: hidden;
    }

    .hjx-notice{
        width: 100%;
        height:23px;
        line-height:23px;
        overflow: hidden;
    }

    .hjx-index-notice i{
        margin-left: 5px;
    }

    /*首页 将元素分隔开点*/
    .hjx-index-margin{
        margin: 7px 0px 6px 0px;
    }

    /*首页搜索框*/
    .hjx-index-search{
        /*margin: 7px 0px 7px 0px;*/
        width: 100%;
        padding: 0px;
    }


}
/*中等PC屏幕下的专用样式*/
@media screen and (min-width:992px) and (max-width: 1199px) {
    /*首页 将元素分隔开点*/
    .hjx-index-margin{
        margin-top: 7px;

    }

    /*首页 公告部分，缩短高度*/
    .hjx-index-notice{
        height: 23px;
        line-height: 23px;
        /*上右下左*/
        padding: 0px 0px 0px 7px;
    }

    .hjx-notice{
        width: 100%;
        height:23px;
        line-height:23px;
        overflow: hidden;
    }
}
/*PAD屏幕下的专用样式*/
@media screen and (min-width: 768px) and (max-width:991px ){

}
/*PHONE屏幕下的专用样式*/
@media screen and  (max-width:767px) {
    /*首页 将元素分隔开点*/
    .hjx-index-margin{
        margin: 15px -7px 5px -7px;
    }
}


/*使用modal弹出扫码加好友*/
.mybtn{position:fixed; right:10px; bottom:20px; display:block; width:50px; height:50px;border-radius:50px; padding:0px; text-align:center; line-height:50px;}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}



/*modal结束*/

/*引入阿里云图标*/
.icon {
    width: 2em; height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*不区分屏幕大小*/
/*首页作者介绍*/
.hjx-index-author{
    width: 100%;
    height: auto;
    border:1px solid #0d0000;
    padding: 20px;
    margin-bottom: 10px;
    border-radius:5px;
}

/*侧栏联系作者*/
.hjx-index-connect{
    text-align: center;
    font-size: 17px;
}

.hjx-index-connect img{
    width: 200px;
    height: 200px;
}


/*首页文章主体*/
.hjx-index-content{
    width: 100%;
    height: auto;
    border:1px solid #0d0000;
    border-radius: 5px;
    margin-bottom: 13px;
    padding: 18px;
}

.hjx-index-content .hjx-title{
    font-size: 25px;
    margin-bottom: 7px;
}

.hjx-index-content .hjx-info{
    margin-bottom: 7px;
}

.hjx-index-content .hjx-info span{
    margin-right: 7px;
}

.hjx-index-content .hjx-info a{
    margin-right: 7px;
}

.hjx-index-content .hjx-brief{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.7;
    border-bottom: 1px solid lightgray;
    word-break:break-all;
}

.hjx-index-content .hjx-brief p img{
    width: 100%;
    padding: 0px 5px 0px 5px;
    margin-top: 10px;
}

.hjx-index-content .hjx-brief-small{
    font-size: 16px;
    line-height: 1.7;
    word-break:break-all;
}

.hjx-index-content .hjx-brief a{
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
}

.hjx-index-content .hjx-tag{
    font-size: 17px;
}

.hjx-index-content .hjx-tag a{
    margin-right: 5px;
}

.hjx-index-content .hjx-tag-small{
    font-size: 14px;
}

/*欢迎版面*/
.hjx-index-welcome{
    width: 100%;
    height: auto;
    border:1px solid #0d0000;
    font-size: 11pt;
    /*background-color: #eaaa99;*/
    background-color: #dcdde6;
    border-radius: 5px;
    padding: 18px;
}

/*标签云*/
.hjx-index-tagyun{
    width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.hjx-index-tagyun a{
    font-size: 18px;
    margin-right: 5px;
}

/*我的故事*/
.hjx-index-mydairy{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 7px;
    padding: 18px;
    text-align: center;
    background:repeating-linear-gradient(45deg, #74ccff, #74ccff 15px, #bba985 0, #bba985 30px);

}

.hjx-index-mydairy a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.hjx-index-mydairy a:hover{
    color: black;
}














