/*注册页面*/

@media screen and (min-width:1200px) {
    .hjx-container{
        margin-top: 50px;
    }
    .hjx-register-btn-group{
        margin-bottom: 20px;
    }

    .hjx-sent-btn{
        margin-right: 150px;
    }
}











