<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/bgheader :: bgheader}">
</head>
<body>
<div style="margin-top: -20px;">
    <div class="input-group">
        <input type="text" id="title" name="title" class="form-control" placeholder="请输入标题...">
        <span class="input-group-btn">
            <a role="button" class="btn btn-default" id="saveDraft">保存草稿</a>
            <a role="button" class="btn btn-primary" id="saveBtn">确认发表</a>
        </span>
    </div><!--/* /input-group */-->
    <div id="hjx-editormd">
        <textarea style="display:none;" id="content" name="content"></textarea>
    </div>
</div>

<!--/*footer*/-->
<div th:replace="~{fragments/bgfooter :: bgfooter}">...</div>
<script src="../../../static/js/admin/diary.js" th:src="@{/js/admin/diary.js}"></script>
</body>
</html>